  .book-cell {
      padding: 2px;
      height: 100px;
      overflow: hidden;
      border-bottom: 1px solid #EEEEEE;
      display: block;
     
      & .img-box {
          float: left;
          margin: 10px;
          height: 80px;
          width: 63px;
          border-radius: 5px;
          &>img {
              width: 100%;
              height: 100%;
              border: 1px solid #EEEEEE;
          }
      }
      & .info-box {
          color: #636D84;
          overflow: hidden;
          margin: 10px 0;
          height: 80px;
          &>h4 {
              overflow: hidden;
              text-overflow: ellipsis;
             white-space: nowrap;
              height: 22px;
              color: #555555;
              font-size: 16px;
              font-weight: 900;
          }
          &>.description {
              padding-right: 40px;
              height: 32px;
              font-size: 12px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
          }
          &>.author {
              margin-top: 3px;
              height: 22px;
              &>img {
                  vertical-align: bottom;
                  width: 18px;
              }
              &>span {
                  margin-left: 8px;
                  vertical-align: bottom;
                  width: 18px;
                  font-size: 12px;
              }
          }
          &>.tag {
              margin-right: 10px;
              margin-top: 6px;
              line-height: 20px;
              width: 20px;
              height: 20px;
              text-align: center;
              border-radius: 50%;
              float: right;
              font-size: 13px;
              border: 1px solid #3879D9;
              font-weight: 900;
              font-family: '楷书';
              color: #3879D9;
          }
      }
  }