.bar-item {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    display: flex;
    & embed{
        height: 20px;
    }
    & p {
        font-size: 12px;
        font-family: '楷书'
    }

}
 