@font-face{
    src: url('/public/font/kaishu.ttf');
    font-family: '楷书'
}

$duration:700ms;
// 进出场动画
// 飞入

.react-container{
  position: relative;
  width: 100vw;
}
 

// 向左滑出
.slide-in-enter {
  transform: translateX(20%) scale(0.5);
  box-shadow: 0px 0px 100px  5px  RGBA(44, 49, 58, 1);
  background: white;
  &.slide-in-enter-active {
    transition: all $duration  ease-out;
    transform: translateX(0%) scale(1);
   
  }
}
.slide-in-leave {
  transform: translateX(0%) scale(1);
  box-shadow: 0px 0px 100px  5px  RGBA(44, 49, 58, 1);
  opacity: 1;
  &.slide-in-leave-active {
    transition: all $duration  ease-out;
    transform: translateX(-100%) scale(0.2);
    opacity: 0.01;
  }
}
   // 向左滑出
.slide-out-leave {
  transform: translateX(0%) scale(1);
  box-shadow: 0px 0px 100px  5px  RGBA(44, 49, 58, 1);
  background: white;
  opacity: 1;
  &.slide-out-leave-active {
    transition: all $duration  ease-out;
    transform: translateX(100%) scale(0.2);
    opacity: 0.01;
  }
}
.slide-out-enter {
  transform: translateX(-100%) scale(0.5);
  box-shadow: 0px 0px 100px  5px  RGBA(44, 49, 58, 1);
  opacity: 0.01;
  &.slide-out-enter-active {
    transition: all $duration  ease-out;
    transform: translateX(0%) scale(1);
    opacity: 1;
  }
}