.chapter-content {
    position: relative;
    height: 100vh;
    & header {
        transition:.2s all ease-in;
        position: fixed;
        height: 44px;
        background: RGBA(253, 253, 253, 1);
        width: 100vw;
        z-index: 10;
        box-shadow: 0px 0px 1px gray;
        overflow: hidden;
        & .back {
            float: left;
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            & svg{
                width: 25px;
                height: 25px;
                vertical-align: top;
            }
        }
        & .addToBookrack {
            margin-top: 10px;
            margin-right: 15px;
            float: right;
            padding: 5px 15px;
            font-size: 12px;
            line-height: 14px;
            font-family: '楷书';
            background: RGBA(245, 152, 61, 1);
            color: white;
            border-radius: 5px;
        }
    }
    & #swiper-chapter {
        height: 100vh;
    }
    & hr {
        border: none;
    }
    & .swiper-wrapper {
        height: auto;
        display: block;

        & .swiper-slider{
            -webkit-tap-highlight-color: none;
        }
    } // 小说正文
    & .text-body {
        &>h1 {
            font-size: 22px;
            font-weight: 900;
            text-align: center;
            line-height: 2em;
        }
        border-bottom: 1px solid lightgray;
        &>p {
            margin: 20px 0px;
            padding: 0px 20px;
            line-height: 2em;
            text-indent: 2em;
            font-family: 'Font-family: Helvetica，Arial，”华文细黑”，”微软雅黑”';
            height: auto;
            text-align: justify;
        }
    } // 夜间设置
    & .text-body.night {
        color: white;
        background: #2C313A;
    } 

     //折叠目录
     & .hide-directory{
        position: fixed;
        top: 50vh;
        left: 320px;
        z-index: 100px;
        height: 70px;
        width: 70px;
        transform: translate(-50%,-50%);
        background: RGBA(44, 49, 58, .5);
        border-radius: 100%;
        display: flex;
        padding: 10px;
        align-items: center;
        & svg{
           fill: white;
        }
    } 
    // 目录
    & .novel-directory {
        animation-duration: 0.3s;
        animation-timing-function: ease-in;
        position: relative;
        height: 100vh;
        width: 100vw;
        background: RGBA(255, 255, 255, 1);
        overflow: auto;
         
        & .sticky {
            background: white;
            position: sticky;
            top: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid lightgray;
        }
        & .directory-label {
            margin-top: 15px;
            left: 50%;
            transform: translateX(-50%);
            background: RGBA(210, 205, 200, 1);
            color: white;
            padding: 5px;
            width: 80px;
            text-align: center;
            border-radius: 20px;
            font-family: '楷书';
            position: relative;
        }
        & .directory-control {
            font-size: 14px;
            overflow: hidden;
            font-family: '楷书';
            height: 40px;
            padding: 15px 15px 0px 15px;
            color: RGBA(154, 142, 129, 1);
            & .total-num {
                float: left;
            }
            & .reverse {
                line-height: 18px;
                width: 3em;
                border: 1px solid RGBA(154, 142, 129, 1);
                float: right;
                text-align: center;
                border-radius: 10px;
            }
        }
        & .someone-chapter-box{
            display: flex;
            flex-direction: column;
            &.reverse{
                flex-direction: column-reverse;
            }
            & .someone-chapter {
                padding-top: 10px;
                color: RGBA(86, 97, 103, 1);
                text-align: left;
                font-size: 18px;
                line-height: 2em;
                border-bottom: 1px dotted #5A6479;
                width: 100%;
                text-overflow: ellipsis;
                text-indent: 1em;
                overflow: hidden;
                white-space: nowrap;
                text-align: justify;
                &.active{
                    color: RGBA(222, 81, 69, 1);
                }
            }
        }
       

        

    } 
    
    // 工具栏
    & footer {
        transition:.2s all ease-in;
        width: 100vw;
        position: fixed;
        bottom: -1px;
        z-index: 10;
        height: 44px;
        box-shadow: -1px 0px 2px 1px black;
        background: RGBA(253, 253, 253, 1);
        display: flex;
        justify-content: space-around;
        align-items: center;
        &>div {
            flex: 1;
            height: 100%;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-family: '楷书';
            color: RGBA(95, 95, 95, 1);
        }
        & svg,
        & .svg-icon {
            height: 25px;
            fill:RGBA(95, 95, 95, 1);
        }
    }
}